
{{#if count_table}}
  <div clas="table_info">
      {{#if co_num}}
        <form action="'+{{file_path}}+'" method="post">
        {{tablePractical count_table co_num file_name CO_level CO_mark1 CO_mark2 }}
      {{else}}
        <form action="/resultPractical" method="post">
        {{tablePractical  count_table co_num file_name CO_level CO_mark1 CO_mark2 file_path}}
        <div class="btn_box"><button type="submit" class="submit_btn"> Generate</button></div>
      {{/if}}
    </form>
  </div>
{{else}}
  <div class="input_form">
    <form action = "/inputPractical" method="post">
      <label for="count">Enter Course Code</label>
      <input type="text" id="course_code_id" name="course_code" required><br>
      <label for="count">Enter Course Name</label>
      <input type="text" id="course_name_id" name="course_name" required><br>
      <label for="count">Enter the Number of Students</label>
      <input type="number" size="1" min=1 max=220 id="countid" name="count" required><br>
      <label for="count">Enter the Cout of CO</label>
      <input type="number" size="1" min=1 max=220 id="co_num_id" name="co_num" required><br>
      <button type="submit" class="submit_btn">Go</button>
    </form>
  </div>
  <form action="/down" method="post">
    <input type="text" value="Sample_practical" name="file_name" style="display:none;">
    <div class="btn_box"><input type="submit" class="submit_btn" value="Download Sample CSV File" onclick = "javascript:form.action='/down';"></div>
  </form>
{{/if}}
